
.ReportList {
    width: 25%;
    color: #efeff5;
}

.report-item {
    display: flex;
    flex-direction: row;
    height: 45px;
    margin: 8px 0;
    padding: 10px;
    align-items: center;
    background-color: #283545;
    cursor: pointer;
}

.report-item.active {
    border: 1px solid #eee;
}

.report-item .icon {
    margin-right: 15px;
}

.report-item .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}